.simulation-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 950px !important;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    align-items: center;
    justify-self: center !important;
    align-self: center !important;
    background-repeat: no-repeat;
    background-image: url("https://trello.com/1/cards/67b34f92a0acde729599d959/attachments/67c4d6fc402510c418195bf2/download/Cycle-popup-background.png");
    border-radius: 20px;
color: #FFFFFF;
    font-size:x-large;
    overflow: scroll;
    scrollbar-width: none;
}
.production-settings{
    width: 100%;
    max-width: 800px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}