.display{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.supplier-infos{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background: rgba(33, 158, 188, 0.8);
    border-radius: 20px;
}