.dashboard-page-section {
    width: 100%;
    height: 854px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("https://trello.com/1/cards/67b34f92a0acde729599d959/attachments/67bd973f927d6498d09f4c85/download/Bacground-menuiserie-level-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}