.company-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 650px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(2, 48, 71, 0.8);
    color: white;
    font-size: x-large;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.56);
}
.company-card:hover {
    transform: scale(1.1);
}
.company-card-img{
    margin: 10px;
}

.company-card-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}