.employee-card{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(2, 48, 71, 0.8);
    color: white;
    font-size: x-large;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.56);
}
.employee-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}