

*{
  box-sizing: border-box;
  margin: 0;
  padding: 2px ! important;
}
body{
  margin: 0 auto;
  padding: 0 ;
  width: 100%;
  max-height:1117px ;
  background-color: #023047 ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}